<div class="side-top">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %> 
  </div>
  <div class="chatlink">
     <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>

</div>
