<div class="side-top">
  <a class="user-name" href="#">Haruki</a>
  <a class="chatlink" href="#">チャットを作成する</a>
</div>

<div class="side-main">
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>
  <div class="chat-rooms">
    <a href="#">チャットルーム１</a>
  </div>

</div>
